<nav class="site-nav">
{{!--  hamburger nav --}}
    <label for="menu-toggle">&#9776;</label>
    <input type="checkbox" id="menu-toggle">

    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="https://www.languageconvo.com/"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="https://www.languageconvo.com/">{{@site.title}}</a>
            {{/if}}
            {{!-- removed handlebars and hardcoded --}}
            <div class="site-nav-content">
                <ul class="nav" role="menu">
                    <li role="menuitem"><a href="https://www.languageconvo.com/en/how-it-works/"><span class="navbarLink1">How It Works</span></a></li>
                    <li role="menuitem"><a href="https://www.languageconvo.com/en/prices/"><span class="navbarLink2">Prices</span></a></li>
                    <li role="menuitem"><a href="{{@site.url}}"><span class="navbarLink3">Blog</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        {{!-- removed handlebars and hardcoded --}}
        <ul class="nav" role="menu">
            <li class="nav-get-started nav-current navbarButton lift" role="menuitem"><a href="https://www.languageconvo.com/en/free-trial/">Get Started</a></li>
            <li class="nav-log-in nav-current navbarLink4Container" role="menuitem"><a href="https://www.languageconvo.com/studenthome/"><span class="navbarLink4">Log In</span></a></li>
        </ul>
    </div>

</nav>
